<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>test</title>
    <link href="Libs/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Styles/layout.css" rel="stylesheet" />
    <!--<link href="Styles/animation.css" rel="stylesheet" />-->
    <link href="Styles/animation.css" rel="stylesheet" />
    <script src="Libs/jquery-2.1.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Libs/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app/app-module.js"></script>
    <script src="Scripts/app/lineItems/lineItems-factory.js"></script>
    <script src="Scripts/app/app-controller.js"></script>
    <script src="Scripts/app/lineItems/lineContainer-directive.js"></script>
    <script src="Scripts/app/lineItems/dates/dates-controller.js"></script>
    <script src="Scripts/app/lineItems/references/references-controller.js"></script>
    <script src="Scripts/app/lineItems/products/products-controller.js"></script>
    <script src="Scripts/app/lineItems/equipment/equipment-controller.js"></script>
    <script src="Scripts/app/lineItems/userPanel/userPanel-controller.js"></script>
    <script src="Scripts/app/lineItems/linkStrip/linkStrip-controller.js"></script>
    <script src="Scripts/app/lineItems/list/list-directive.js"></script>
</head>
    <body ng-controller="appCtrl as app">
        <div class="debug">
            <button ng-click="pushLineItems()">pushLineItems</button>
            <button ng-click="clearLineItems()">clearLineItems</button>
            <button ng-click="switchSides()">switchSides</button>
        </div>
        <div class="container">
            <div ng-view></div>
        </div>
    </body>
</html>
